*
{
	margin: 0px;
	padding: 0px;
	border: none;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FBF9EF;
	padding: 0px 6%;
}

a 
{
  	display: inline-block;
	padding: 5px;
	margin-top: 5px; 
	margin-bottom: 5px;
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;  
	text-decoration: none;
}

#container
{
	float: left;
}

#header
{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #5D5A53;
	margin-bottom: 10px;
}

#header h1
{
    font-family: "Times New Roman", Georgia, Serif;
    font-style: italic;
	font-size: 25px;
	float: left;
	padding: 25px 0px 5px 50px;
}

#header img
{
    float: left;
}

#logdiv
{
    float: left;
    width: 340px;
    border-right: 1px dotted #5D5A53;
    padding: 10px 10px 10px 10px;
}

#infodiv
{
    float: left;
}

#leftdiv
{
    float: left;
    width: 150px;
    border-right: 1px dotted #5D5A53;
    padding: 10px 10px 10px 10px;
}

.button, input[type=submit]
{
	clear: both;
	display: inline-block;
	padding: 5px;
	margin-top: 10px; 
	margin-bottom: 10px;
	border: 1px;
	background: #5e5b54;
	color: #fff;
	font-weight: bold;
}

.button a
{
	color: #fff !important;
}

#AllProj, #OwnProj
{
    clear: left;
}

ul.projects-list
{
	list-style: none;
	margin-left: 0px;
}

ul.projects-list li
{
    float: left;
	height: 130px;
	width: 100px;
	margin: 10px;
	text-align: center;
}

.ProjectLogo
{
    height: 100px;
    width: 100px;
}

ul.projects-list li a
{
	font-size: 13px;
	float: left;
}

ul.projects-list li a span
{
	color: #FFFFFF;
	text-decoration: none;
}

/* File table */
.FileTable th
{
    border: #9b9993 2px solid;
    padding: 5px;
}

.FileTable td
{
    border: #9b9993 1px solid;
    padding: 5px;
}

/* Form styles */
legend
{
	padding: 10px;
	font-weight: bold;
}

fieldset
{
	border: #9b9993 1px solid;
	padding: 0 10px;
	margin-bottom: 10px;
	clear: left;
}

div.editor-field
{
	margin-bottom: 10px;
}

input[type=text], input[type=password], select
{
	border: 1px solid #8A8575;
	width: 300px;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}