@model Web_Java_Project.Models.LogOnModel

@{
    ViewBag.Title = "WEB Java Project";
    Layout = "~/Views/Shared/_LogOnLayout.cshtml";
}

<div id = "infodiv">
    <h2>WEB Java Project</h2>
    <br />
    <p>
        @WJP_Resources.Lang.HomeWelcome
    </p>    
</div>
