@{
    ViewBag.Title = WJP_Resources.Lang.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@WJP_Resources.Lang.ChangePassword</h2>
<p>
    @WJP_Resources.Lang.ChangePassSuc
</p>
<div>
    <a href="@Url.Content("~/Profile/Settings")">Return</a>
</div>