@{
    ViewBag.Title = @WJP_Resources.Lang.ChangeEmail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@WJP_Resources.Lang.ChangeEmail</h2>
<p>
    @WJP_Resources.Lang.ChangeEmailSuc
</p>
<div>
    <a href="@Url.Content("~/Profile/Settings")">Return</a>
</div>
